<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>MetropolisDark</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPermissionsService" />
        <binding name="NetTcpBinding_IImportService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/PermissionsService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPermissionsService"
        contract="MBAPermissionsService.IPermissionsService" name="NetTcpBinding_IPermissionsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8733/ImportService/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IImportService" contract="MBAImportService.IImportService"
        name="NetTcpBinding_IImportService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>