<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="sipua" type="pjsip4net.Configuration.SipUserAgentSettingsSection, pjsip4net, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>MetropolisLight</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <sipua srtp="Disabled" secureSignaling="0" logMessages="true" logLevel="5" traceAndDebug="false" autoAnswer="true" autoConference="false" maxCalls="5">
    <accounts>
      <account accountId="sip:151@aster.mbaru.ru:5060" registrarUri="sip:aster.mbaru.ru:5060"
          userName="151" password="heslox151" 
          realm="*" isDefault="true"
          publishPresence="false" />
    </accounts>
    <sipTransport type="udp" Port="5060"/>
    <!--networkSettings natInSDP="true" forceLooseRoute="false">
      <stun address="stun.stunprotocol.org"/>
      <turn enabled="false" server="" type="udp" userName="" password="" realm=""/>
      <ice enabled="true" noRTCP="false"/>
      <proxies>
        <add address="sip:192.168.1.1:5060"/>
      </proxies>
    </networkSettings-->
    <media isVADEnabled="true"/>
  </sipua>
  
</configuration>
